In [15]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [72]:
import pandas as pd
from sqlalchemy import create_engine

In [35]:
%run ./pw_postgres.ipynb

In [138]:
csv_file = "./Basic_Stats.csv"
basic_stats_df = pd.read_csv(csv_file)
basic_stats_df.head()

,age,birth place,birthday,college,current_status,current_team,experience,height (inches),high School,high school location,name,number,player_id,position,weight (lbs),years played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [139]:
basic_stats_df = basic_stats_df[['age'
                                ,'player_id'
                                ,'position'
                                ,'name'
                                ,'current_status'
                                ,'experience'
                                ,'current_team']].copy()
basic_stats_df

,age,player_id,position,name,current_status,experience,current_team
0,NaN,fredevans/2513736,NaN,"Evans, Fred",Retired,3 Seasons,NaN
1,NaN,jimraiff/2523700,NaN,"Raiff, Jim",Retired,1 Season,NaN
2,56.0,bobbyfowler/2514295,NaN,"Fowler, Bobby",Retired,1 Season,NaN
3,30.0,quinnjohnson/79593,NaN,"Johnson, Quinn",Retired,5 Seasons,NaN
4,25.0,l.t.walton/2552444,DE,"Walton, L.T.",Active,3rd season,Pittsburgh Steelers
...,...,...,...,...,...,...,...
17167,73.0,rongoovert/2515082,NaN,"Goovert, Ron",Retired,1 Season,NaN
17168,32.0,j.d.folsom/238485,NaN,"Folsom, J.D.",Retired,1 Season,NaN
17169,43.0,jamiereader/2502599,NaN,"Reader, Jamie",Retired,1 Season,NaN
17170,NaN,solonbarnett/2509044,NaN,"Barnett, Solon",Retired,2 Seasons,NaN
17171,54.0,byronjohnson/2517578,NaN,"Johnson, Byron",Retired,1 Season,NaN

In [140]:
WR_and_TE_df = pd.read_csv("./Game_Logs_Wide_Receiver_and_Tight_End.csv")
WR_and_TE_df

,player_id,name,position,year,season,week,game date,home_or_away,opponent,outcome,...,yards_per_reception,longest_reception,receiving_tds,rushing_attempts,rushing_yards,yards_per_carry,longest_rushing_run,rushing_tds,fumbles,fumbles_lost
0,floydraglin/2523695,"Raglin, Floyd",NaN,1987,Regular Season,3,4-Oct,Away,SEA,L,...,--,--,--,--,--,--,--,--,--,--
1,floydraglin/2523695,"Raglin, Floyd",NaN,1987,Regular Season,4,11-Oct,Home,KC,W,...,--,--,--,--,--,--,--,--,--,--
2,joeadams/2532782,"Adams, Joe",NaN,2014,Preseason,1,9-Aug,Away,ARI,L,...,--,--,--,--,--,--,--,--,1,0
3,joeadams/2532782,"Adams, Joe",NaN,2014,Preseason,2,16-Aug,Home,ATL,W,...,--,--,0,--,--,--,--,--,--,--
4,joeadams/2532782,"Adams, Joe",NaN,2014,Preseason,3,23-Aug,Away,DEN,W,...,--,--,--,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112627,torreysmith/2495459,"Smith, Torrey",WR,2011,Postseason,19,15-Jan,Home,HOU,W,...,9,9,0,--,--,--,--,--,--,--
112628,torreysmith/2495459,"Smith, Torrey",WR,2011,Postseason,20,22-Jan,Away,NE,L,...,27.3,42,1,--,--,--,--,--,--,--
112629,jahkeengilmore/2514905,"Gilmore, Jahkeen",NaN,2007,Preseason,1,11-Aug,Away,NYG,W,...,--,--,0,--,--,--,--,--,--,--
112630,jahkeengilmore/2514905,"Gilmore, Jahkeen",NaN,2007,Preseason,2,17-Aug,Away,PHI,L,...,--,--,0,--,--,--,--,--,--,--
112631,jahkeengilmore/2514905,"Gilmore, Jahkeen",NaN,2007,Preseason,3,24-Aug,Home,NE,L,...,--,--,--,--,--,--,--,--,--,--

In [157]:
new_WR_and_TE_df = WR_and_TE_df[['player_id'
                                 ,'name'
                                 ,'position'
                                 ,'year'
                                 ,'outcome'
                                 ,'opponent'
                                 ,'home_or_away'
                                 ,'score'
                                 ,'receptions'
                                 ,'receiving_yards'
                                 , 'yards_per_reception'
                                 ,'longest_reception'
                                 , 'receiving_tds'
                                 , 'rushing_attempts'
                                 , 'rushing_yards'
                                 , 'yards_per_carry'
                                 , 'longest_rushing_run'
                                 , 'rushing_tds'
                                 , 'fumbles'
                                 , 'fumbles_lost']].copy()
new_WR_and_TE_df

,player_id,name,position,year,outcome,opponent,home_or_away,score,receptions,receiving_yards,yards_per_reception,longest_reception,receiving_tds,rushing_attempts,rushing_yards,yards_per_carry,longest_rushing_run,rushing_tds,fumbles,fumbles_lost
0,floydraglin/2523695,"Raglin, Floyd",NaN,1987,L,SEA,Away,20 to 24,--,--,--,--,--,--,--,--,--,--,--,--
1,floydraglin/2523695,"Raglin, Floyd",NaN,1987,W,KC,Home,42 to 0,--,--,--,--,--,--,--,--,--,--,--,--
2,joeadams/2532782,"Adams, Joe",NaN,2014,L,ARI,Away,0 to 32,--,--,--,--,--,--,--,--,--,--,1,0
3,joeadams/2532782,"Adams, Joe",NaN,2014,W,ATL,Home,32 to 7,0,0,--,--,0,--,--,--,--,--,--,--
4,joeadams/2532782,"Adams, Joe",NaN,2014,W,DEN,Away,18 to 17,--,--,--,--,--,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112627,torreysmith/2495459,"Smith, Torrey",WR,2011,W,HOU,Home,20 to 13,1,9,9,9,0,--,--,--,--,--,--,--
112628,torreysmith/2495459,"Smith, Torrey",WR,2011,L,NE,Away,20 to 23,3,82,27.3,42,1,--,--,--,--,--,--,--
112629,jahkeengilmore/2514905,"Gilmore, Jahkeen",NaN,2007,W,NYG,Away,24 to 21,0,0,--,--,0,--,--,--,--,--,--,--
112630,jahkeengilmore/2514905,"Gilmore, Jahkeen",NaN,2007,L,PHI,Away,10 to 27,0,0,--,--,0,--,--,--,--,--,--,--
112631,jahkeengilmore/2514905,"Gilmore, Jahkeen",NaN,2007,L,NE,Home,7 to 24,--,--,--,--,--,--,--,--,--,--,--,--

Create TABLE nfl_basic_stats(
	age int,
	player_id varchar primary key,
	position varchar,
	name varchar,
	current_status varchar,
	experience varchar,
	current_team varchar
	);
	
Create Table nfl_game_logs_WR_and_TE(
	Player_Id varchar,
	Name varchar,
	Position varchar,
	Year int,
	Outcome varchar,
	Opponent varchar,
	Home_or_Away varchar,
	Score varchar,
	Receptions varchar,
	Receiving_Yards varchar,
	Yards_Per_Reception varchar,
	Longest_Reception varchar,
	Receiving_TDs varchar,
	Rushing_Attempts varchar,
	Rushing_yards varchar,
	Yards_Per_Carry varchar,
	Longest_Rushing_Run varchar,
	Rushing_TDs varchar,
	Fumbles varchar,
	Fumbles_Lost varchar);

select * from nfl_basic_stats
select * from nfl_game_logs_wr_and_te

In [133]:
connection_string = f'postgres:{password}@localhost:5432/NFL_stats'
engine = create_engine(f'postgresql://{connection_string}')

In [134]:
engine.table_names()

['nfl_game_logs_wr_and_te', 'nfl_basic_stats']

In [135]:
basic_stats_df.to_sql(name = "nfl_basic_stats", con = engine, if_exists = 'append', index = False)

In [159]:
new_WR_and_TE_df.to_sql(name = "nfl_game_logs_wr_and_te", con = engine, if_exists = 'append', index = False)

In [160]:
pd.read_sql_query('select * from nfl_basic_stats', con=engine)

,age,player_id,position,name,current_status,experience,current_team
0,NaN,fredevans/2513736,None,"Evans, Fred",Retired,3 Seasons,None
1,NaN,jimraiff/2523700,None,"Raiff, Jim",Retired,1 Season,None
2,56.0,bobbyfowler/2514295,None,"Fowler, Bobby",Retired,1 Season,None
3,30.0,quinnjohnson/79593,None,"Johnson, Quinn",Retired,5 Seasons,None
4,25.0,l.t.walton/2552444,DE,"Walton, L.T.",Active,3rd season,Pittsburgh Steelers
...,...,...,...,...,...,...,...
17167,73.0,rongoovert/2515082,None,"Goovert, Ron",Retired,1 Season,None
17168,32.0,j.d.folsom/238485,None,"Folsom, J.D.",Retired,1 Season,None
17169,43.0,jamiereader/2502599,None,"Reader, Jamie",Retired,1 Season,None
17170,NaN,solonbarnett/2509044,None,"Barnett, Solon",Retired,2 Seasons,None
17171,54.0,byronjohnson/2517578,None,"Johnson, Byron",Retired,1 Season,None

In [161]:
pd.read_sql_query('select * from nfl_game_logs_wr_and_te', con=engine)

,player_id,name,position,year,outcome,opponent,home_or_away,score,receptions,receiving_yards,yards_per_reception,longest_reception,receiving_tds,rushing_attempts,rushing_yards,yards_per_carry,longest_rushing_run,rushing_tds,fumbles,fumbles_lost
0,floydraglin/2523695,"Raglin, Floyd",None,1987,L,SEA,Away,20 to 24,--,--,--,--,--,--,--,--,--,--,--,--
1,floydraglin/2523695,"Raglin, Floyd",None,1987,W,KC,Home,42 to 0,--,--,--,--,--,--,--,--,--,--,--,--
2,joeadams/2532782,"Adams, Joe",None,2014,L,ARI,Away,0 to 32,--,--,--,--,--,--,--,--,--,--,1,0
3,joeadams/2532782,"Adams, Joe",None,2014,W,ATL,Home,32 to 7,0,0,--,--,0,--,--,--,--,--,--,--
4,joeadams/2532782,"Adams, Joe",None,2014,W,DEN,Away,18 to 17,--,--,--,--,--,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112627,torreysmith/2495459,"Smith, Torrey",WR,2011,W,HOU,Home,20 to 13,1,9,9,9,0,--,--,--,--,--,--,--
112628,torreysmith/2495459,"Smith, Torrey",WR,2011,L,NE,Away,20 to 23,3,82,27.3,42,1,--,--,--,--,--,--,--
112629,jahkeengilmore/2514905,"Gilmore, Jahkeen",None,2007,W,NYG,Away,24 to 21,0,0,--,--,0,--,--,--,--,--,--,--
112630,jahkeengilmore/2514905,"Gilmore, Jahkeen",None,2007,L,PHI,Away,10 to 27,0,0,--,--,0,--,--,--,--,--,--,--
112631,jahkeengilmore/2514905,"Gilmore, Jahkeen",None,2007,L,NE,Home,7 to 24,--,--,--,--,--,--,--,--,--,--,--,--